<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
</head>
  <body>
    <h1>Hello!</h1>
    <p><%= @user.name %> would like to share their Devolio with you!</p>
    <p>Simple <a href='<%= @url %>'>follow this link</a> to check it out!</p>
    <p>Sincerely,</p>
    <p>The DEVOLIO team</p>
  </body>
</html>