@import url("bootstrap-sprockets");
@import url("bootstrap");
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* Colors */
/*Deep orange*/
/*Orange*/
/*Peach*/
/*White*/
/*Green*/
/*Black*/
/*Shark Gray*/
/*Dark Gray*/
/*Gray*/
/* Font-Weight */
/* line 25, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 31, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
body {
  box-sizing: inherit;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* line 41, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
img {
  max-width: 100%;
}

/* line 44, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
a {
  color: #FF5722;
  text-decoration: none;
}

/* line 48, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
a:hover {
  text-decoration: underline;
}

/* Icons */
/* line 52, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
a[class*="entypo-"] {
  background: #212121;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  padding: 0.35em 0.3em 0.25em 0.3em;
  width: 1em;
  height: 1em;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s linear;
          transition: background 0.2s ease-in-out, color 0.2s linear;
}

/* line 68, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
a[class*="entypo-"]:before, span[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 71, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
a[class*="entypo-"]:hover {
  background: #8BC34A;
  color: #212121;
}

/* line 76, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

/* line 80, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h3 {
  color: #FF5722;
  margin: 2em auto 1em;
}

/* line 84, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h4, h5 {
  margin: 0;
}

/* line 87, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h5 {
  color: #727272;
}

/* line 91, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.button, button, input[type="submit"] {
  border: 3px solid #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  background: transparent;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  -webkit-transition: background 0.1s ease,color 0.1s linear, border-color 0.1s ease;
          transition: background 0.1s ease,color 0.1s linear, border-color 0.1s ease;
}

/* line 106, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.button.active, button.active, .button:hover, button:hover, input[type="submit"]:hover {
  background: #8BC34A;
  color: #fff;
  border-color: #8BC34A;
  text-decoration: none;
}

/* line 112, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.button.active, button.active {
  border: 1px solid #FF5722;
}

/* line 115, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
input[type="submit"] {
  display: block;
  margin: 1em 0;
}

/* line 119, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.button.small, input[type="submit"].small {
  font-size: 12px;
  padding: 0.5em 0.75em;
}

/* line 124, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.error {
  color: #E64A19 !important;
}

/* line 128, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.success {
  color: #8BC34A !important;
}

/* line 132, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.meta {
  color: #266DA1;
  text-transform: lowercase;
  font-size: 0.8em;
  display: block;
  margin-bottom: 1em;
}

/* line 140, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #B6B6B6;
}

/* Layout */
/* line 147, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.main-container {
  padding: 2em;
  min-height: 100vw;
}

/* line 151, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.dark-container {
  background: #292B2E;
  color: #fff;
}

/* line 155, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.nav {
  text-align: right;
}

/* Reset list styles */
/* line 160, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.icons, .contact-info, .skills-list, .interests {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 165, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.icons {
  text-align: center;
  margin: 1.5em auto;
}

/* line 169, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.icons li, .contact-info li {
  display: inline-block;
  margin: 0.2em 0.5em;
}

/* Header */
/* line 175, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
header {
  padding-bottom: 3em;
}

/* line 178, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h1.logo {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
}

/* line 185, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
header h1.logo {
  font-size: 4.2em;
  letter-spacing: 3px;
  padding: 1em 0 0.5em 0;
  margin: 0 auto;
}

/* line 191, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h1.logo.small {
  color: #B6B6B6;
  font-size: 1em;
  letter-spacing: 1px;
}

/* line 196, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
h2, header .subtitle {
  font-family: 'Montserrat';
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

/* line 203, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
header .subtitle span {
  color: #FF5722;
}

/* line 206, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.profile h2 {
  line-height: 1;
}

/* line 209, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.profile p {
  color: #727272;
}

/* line 212, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.position {
  margin-bottom: 3em;
}

/* line 215, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.time-span {
  margin: 0;
  color: #B6B6B6;
  font-size: 0.8em;
}

/* line 221, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.profile {
  display: inline-block;
  padding: 1em;
  width: 30%;
  /* Replace with bootstrap */
  vertical-align: top;
}

/* line 227, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.avatar, .name {
  display: inline-block;
  vertical-align: middle;
}

/* line 231, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.avatar img {
  border-radius: 50%;
  width: 5em;
  vertical-align: middle;
}

/* line 236, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.avatar h2 {
  display: inline;
  font-size: 2em;
  vertical-align: middle;
}

/* line 241, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.contact-info {
  overflow: auto;
}

/* line 244, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.contact-info li {
  float: left;
}

/* line 247, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.contact-info .label {
  clear: both;
  font-weight: 900;
  width: 25%;
}

/* line 252, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.contact-info .info {
  color: #727272;
}

/* line 255, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.details {
  display: inline-block;
  width: 60%;
  /* Replace with bootstrap */
  vertical-align: top;
  padding: 1em;
  height: 100em;
  /* Replace with Bootstrap */
}

/* line 262, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.column {
  width: 45%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

/* line 268, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.skill-percentage {
  margin-bottom: 10px;
  position: relative;
}

/* line 272, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.skill-percentage:before {
  width: 80%;
  -webkit-animation: skill_1 0.6s ease;
  animation: skill_1 0.6s ease;
}

/* line 277, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.skill-percentage::before {
  content: "";
  height: 6px;
  background: #8BC34A;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}

/* line 285, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.skill-percentage:after {
  content: "";
  width: 100%;
  height: 6px;
  background: #727272;
  display: block;
  margin-top: 3px;
}

/* line 294, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.interests li {
  color: #727272;
  display: inline-block;
  text-align: center;
  background: #212121;
  width: 5em;
  height: 5em;
  margin: 0.2em 0.05em;
}

/* line 303, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.interests li span[class*="entypo-"] {
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 308, /Users/jandennison/Desktop/DBC_stuff/P3/DEVOLIO/app/assets/stylesheets/main.scss */
.interests li span[class*="entypo-"]:before {
  color: #fff;
  display: block;
  font-size: 4em;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

