<header>
  <h1 class="logo">Devolio</h1>
  <span class="subtitle">Build your <span>development</span> portfolio</span>
</header>
<section>
  <section class="col-xs-0 col-md-2"></section>
  <section class="col-md-4">
    <img src="http://i.imgur.com/CTnuQ2e.jpg" alt="">
    <p class="meta">GitHub data may display differently.</p>
  </section>
  <section class="col-md-4">
    <p>
      The dev community often focuses less on traditional resumes and more on GitHub activity and project experience. However, HR departments and recruiters are still oriented towards the formal resume model. And look, searching for a job is a hard ass thing in general - juggling different information and audiences shouldn't be part of it.
    </p>
    <p>
      DEVOLIO merges traditional resume information with your GitHub account activity to quickly and easily produce an attractive, informative job search profile. Additionally, the dev community is centralized around Twitter, so your Twitter feed can also be featured. Check it out!
    </p>
  </section>
  <section class="col-xs-0 col-md-2"></section>
</section>
