<header>
  <h1 class="logo">Devolio</h1>
  <span class="subtitle">Build your <span>development</span> portfolio</span>
</header>
<section>
  <section class="col-xs-0 col-md-2"></section>
  <section class="col-md-4">
    <img src="/visual-guides/devolio-public-page-wireframe.jpg" alt="mockup" style="max-width:100%;">
  </section>
  <section class="col-md-4">
    <p>
      Lorem ipsum dolor sit amet, eu vel alii labitur molestie, nam ad wisi feugiat. Vis quod mazim te, per in consul legere. Ad amet etiam assentior pri, at habemus elaboraret per. Nam viderer facilisi in, vel modo dissentiet ea. Has scaevola convenire torquatos cu, cu hinc posidonium eam.
    </p>
  </section>
  <section class="col-xs-0 col-md-2"></section>
</section>
