<div class="portfolio">
  <section class="light-container col-xs-12 col-sm-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3">
        <img src="" alt="avatar" />
      </div>
      <div class="name col-xs-9">
        <h2><%= name %></h2>
      </div>
      <p><%= description %></p>
      <ul class="icons">
        <li><a href="#" class="entypo-github"></a></li>
        <li><a href="#" class="entypo-twitter"></a></li>
        <li><a href="#" class="entypo-linkedin"></a></li>
      </ul>
      <ul class="contact-info">
        <li class="label">Call</li>
        <li class="info"></li>
        <li class="label">Email</li>
        <li class="info"><%= email %></li>
        <li class="label">Website</li>
        <li class="info"><a href=""></a></li>
      </ul>
    </section>
    <section id="user_linkedin">
      <h3>Experience</h3>
      <div class="position">
        <!-- position title -->
        <h4></h4>
        <!-- company -->
        <h5></h5>
        <!-- time span -->
        <p class="time-span"></p>
      </div>
      <h3>Recommendations</h3>
      <p></p>
    </section>
</section>
<section class="dark-container col-xs-12 col-sm-8">
  <section class="user_github">
    <h3>GitHub Activity</h3>
    <div class="data-graphs">
    </div>
  </section>
  <section class="col-xs-6">
    <section id="user_skills">
      <h3>Skills</h3>
      <ul class="skills-list">
        <li class="skill-percentage"></li>
      </ul>
    </section>
  </section>
  <section class="col-xs-6">
    <section id="user_tweets">
      <h3>Tweets</h3>

    </section>
    <section id="user_interests">
      <h3>Interests</h3>
      <ul class="interests">
      </ul>
    </section>
  </section>
</section>
</div>