<!-- small left column, wider right column -->
<div class="col-xs-12 col-sm-4 light-container">
  <h1 class="logo small">Devolio</h1>
  <div class="avatar">
    <img src="https://avatars1.githubusercontent.com/u/439941?v=3&s=460" alt="avatar" />
  </div>
  <div class="name">
    <h2>Malyssa Señor</h2>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus <a href="">euismod</a> congue nisi, nec consequat quam. In consectetur faucibus turpis eget laoreet. Sed nec imperdiet purus.</p>
  <ul class="icons">
    <li><a href="#" class="entypo-github"></a></li>
    <li><a href="#" class="entypo-twitter"></a></li>
    <li><a href="#" class="entypo-linkedin"></a></li>
  </ul>
  <ul class="contact-info">
    <li class="label">Call</li>
    <li class="info">(614) 345-1234</li>
    <li class="label">Email</li>
    <li class="info">malyssa@gmail.com</li>
    <li class="label">Website</li>
    <li class="info"><a href="">malyssa.io</a></li>
  </ul>
  <h3>Experience</h3>
  <div class="position">
    <h4>Senior Developer</h4>
    <h5>Dev Bootcamp</h5>
    <p class="time-span">June 2013 - Current</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus <a href="">euismod</a> congue nisi, nec consequat quam. In consectetur faucibus turpis eget laoreet. Sed nec imperdiet purus.</p>
  </div>
  <div class="position">
    <h4>Senior Developer</h4>
    <h5>Dev Bootcamp</h5>
    <p class="time-span">June 2013 - Current</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus <a href="">euismod</a> congue nisi, nec consequat quam. In consectetur faucibus turpis eget laoreet. Sed nec imperdiet purus.</p>
  </div>
</div>
<div class="col-xs-12 col-sm-8 dark-container">
  <h3>GitHub Activity</h3>
  <div class="graphs">
    <img src="http://i.imgur.com/2XGyg3e.jpg" alt="" />
  </div>
  <div class="col-xs-6">
    <h3>Skills</h3>
    <ul class="skills-list">
            <li class="skill-percentage">HTML / HTML5</li>
            <li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
            <li class="skill-percentage">Javascript</li>
            <li class="skill-percentage">Jquery</li>
            <li class="skill-percentage">Wordpress</li>
            <li class="skill-percentage">Photoshop</li>
        <li class="skill-percentage">HTML / HTML5</li>
            <li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
            <li class="skill-percentage">Javascript</li>
            <li class="skill-percentage">Jquery</li>
            <li class="skill-percentage">Wordpress</li>
            <li class="skill-percentage">Photoshop</li>
        </ul>
  </div>
  <div class="col-xs-6">
    <h3>Tweets</h3>
    <blockquote class="twitter-tweet" lang="en"><p>Forgive me father, for I have reported an issue and the only details I provided was &quot;doesn&#39;t work&quot;.</p>&mdash; Dev Confessional (@gitpushforgive) <a href="https://twitter.com/gitpushforgive/status/588776589711781888">April 16, 2015</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h3>Interests</h3>
    <ul class="interests">
      <li><span class="entypo-mobile">Tech</span></li>
      <li><span class="entypo-paper-plane">Travel</span></li>
      <li><span class="entypo-palette">Art</span></li>
      <li><span class="entypo-book">Reading</span></li>
      <li><span class="entypo-ticket">Movies</span></li>
      <li><span class="entypo-pencil">Writing</span></li>
    </ul>
  </div>
</div>