/* Colors */
$deep-orange:  #E64A19; /*Deep orange*/
$orange:       #FF5722; /*Orange*/
$peach:        #FFCCBC; /*Peach*/
$white:        #FFFFFF; /*White*/
$green:        #8BC34A; /*Green*/
$black:        #212121; /*Black*/
$dark-gray:    #292B2E; /*Shark Gray*/
$gray:         #727272; /*Dark Gray*/
$light-gray:   #B6B6B6; /*Gray*/

/* Font-Weight */
$font-weight--light:  300;
$font-weight--medium: 400;
$font-weight--bold:   900;


// Skills
button.add-skill {
  margin: 0;
  padding: 0.25em 0.5em;
}
button.delete-skill, button.delete-position {
  margin: 0;
  padding: 0.25em 0.5em;
  border-color: $orange;
  &:hover {
    border-color: $orange;
    background: $orange;
    color: #fff;
  }
}

form .meta {
  margin: 0;
}
.added-position {
  margin-top: 1em;
  padding-top: 1em;
}

.added-position + .added-position {
  border-top: 1px dashed $light-gray;
}