/* Colors */
$deep-orange:  #E64A19; /*Deep orange*/
$orange:       #FF5722; /*Orange*/
$peach:        #FFCCBC; /*Peach*/
$white:        #FFFFFF; /*White*/
$green:        #8BC34A; /*Green*/
$black:        #212121; /*Black*/
$dark-gray:    #292B2E; /*Shark Gray*/
$gray:         #727272; /*Dark Gray*/
$light-gray:   #B6B6B6; /*Gray*/

/* Font-Weight */
$font-weight--light:  300;
$font-weight--medium: 400;
$font-weight--bold:   900;

footer {
  color: white;
  width: 100%;
  background-color: $black;
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #000;
  overflow: auto;
  p {
    margin: 0;
  }
  .nav {
    white-space: nowrap;
    text-align: center;
    padding: 0;
  }
  .footer-content {
    margin-top: 2em;
    text-align: center;
    width: 100%;
    color: $gray;

    .footer-title {
      font-weight: $font-weight--bold;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline;
        padding: 0 5px;
        a {
          color: $green;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}