/* Colors */
$deep-orange:  #E64A19; /*Deep orange*/
$orange:       #FF5722; /*Orange*/
$peach:        #FFCCBC; /*Peach*/
$white:        #FFFFFF; /*White*/
$green:        #8BC34A; /*Green*/
$black:        #212121; /*Black*/
$dark-gray:    #292B2E; /*Shark Gray*/
$gray:         #727272; /*Dark Gray*/
$light-gray:   #B6B6B6; /*Gray*/

/* Font-Weight */
$font-weight--light:  300;
$font-weight--medium: 400;
$font-weight--bold:   900;


html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $dark-gray !important;
  box-sizing: inherit;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: $font-weight--medium;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  color: $orange;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Icons */
a.fa {
  background: $black;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  padding: 0.5em 0.3em 0.25em 0.3em;
  width: 2em;
  height: 2em;
  transition:
    background 0.2s ease-in-out,
    color 0.2s linear;
}
a.fa:hover {
  background: $green;
  color: $black;
  text-decoration: none;
}

h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: $orange;
  margin: 2em auto 1em;
}
h4, h5 {
  margin: 0;
}
h5 {
  color: $gray;
}
.button, button, input[type="submit"] {
  border: 3px solid #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  background: transparent;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  transition: background 0.1s ease,color 0.1s linear, border-color 0.1s ease;
}
.light-container button {
  border-color: $green;
  color: $green;
}
.button.active, button.active, .button:hover, button:hover, input[type="submit"]:hover {
  background: $green;
  color: #fff;
  border-color: $green;
  text-decoration: none;
}
.button.active, button.active {
  border: 1px solid $orange;
}
input[type="submit"] {
  display: block;
  margin: 1em 0;
}
form input {
  line-height: 2em;
  color: $black;
}
input[type="submit"] {
  border-color: $green;
  color: $green;
  line-height: 1em;
}
:required {
  border-color: $deep-orange;
  border-width: 1px;
}
form label {
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 2em;
}
form fieldset {
  margin: 1em 0;
}
.button.small, input[type="submit"].small {
  font-size: 12px;
  padding: 0.5em 0.75em;
}

.error {
  color: $deep-orange !important;
}

.success {
  color: $green !important;
}

.meta {
  color: #266DA1;
  text-transform: lowercase;
  font-size: 0.8em;
  margin-bottom: 1em;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid $light-gray;
  clear: both;
}

/* Layout */
.main-container {
  background: $dark-gray;
  color: #fff;
  overflow: auto;
}
.light-container {
  background: #fff;
  color: $black;
  padding: 2em;
}
.dark-container {
  background: $dark-gray;
  color: #fff;
  padding: 2em;
}
.light-container {
  background: #fff;
  color: $black;
}
.nav {
  text-align: right;
  padding: 2em;
}
.dashboard {
  overflow: auto;
}

/* Reset list styles */
.icons, .contact-info, .skills-list, .interests {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.icons {
  text-align: center;
  margin: 1.5em auto;
}
.icons li {
  display: inline-block;
  margin: 0.2em 0.5em;
}

/* Header */
header {
  padding-bottom: 3em;
}
h1.logo {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
}
header h1.logo {
  font-size: 4.2em;
  letter-spacing: 3px;
  padding: 1em 0 0.5em 0;
  margin: 0 auto;
}
h1.logo.small {
  color: $light-gray;
  font-size: 1em;
  letter-spacing: 1px;
}
h2, header .subtitle {
  font-family: 'Montserrat';
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
header .subtitle span {
  color: $orange;
}
.profile h2 {
  line-height: 1;
}
.profile p {
  color: $gray;
}
.position {
  margin-bottom: 3em;
}
.time-span {
  margin: 0;
  color: $light-gray;
  font-size: 0.8em;
}
.avatar, .name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2em;
}
.avatar img {
  border-radius: 50%;
  vertical-align: middle;
}
.name h2 {
  font-size: 2em;
  vertical-align: middle;
  text-align: left;
}
.contact-info {
  overflow: auto;
}
.contact-info li {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0.25em 0;
  vertical-align: middle;
  line-height: 2em;
}
.contact-info li:nth-child(odd) {
  font-weight: $font-weight--bold;
  clear: both;
}
.contact-info li:nth-child(even) {
  color: $gray;
}
.details {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}
.column {
  width: 45%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}
.skill-percentage {
  margin-bottom: 10px;
  position: relative;
}
.skill-percentage:before {
  width: 0;
  transform: width 0.6s ease;
}
.skill-percentage.w20:before {
  width: 20%;
}
.skill-percentage.w40:before {
  width: 40%;
}
.skill-percentage.w60:before {
  width: 60%;
}
.skill-percentage.w80:before {
  width: 80%;
}
.skill-percentage.w100:before {
  width: 100%;
}
.skill-percentage::before {
  content: "";
  height: 6px;
  background: $green;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}
.skill-percentage:after {
  content: "";
  width: 100%;
  height: 6px;
  background: $gray;
  display: block;
  margin-top: 3px;
}

.interests li {
  color: $gray;
  display: inline-block;
  text-align: center;
  background: $black;
  width: 5.5em;
  height: 5em;
  margin: 0.2em 0.05em;
  vertical-align: middle;
}
.interests li span {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: bottom;
}
.interests li .fa {
  display: block;
  vertical-align: middle;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: .45em 0;
}

#user_tweets ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #fff;
  color: $black;
  line-height: 1.2em;

}

#user_tweets ul li {
  border-bottom: 1px solid $light-gray;
  padding: 0.6em 0.8em;

}

#user_tweets ul li div {
  padding: 0.4em 0;
}

.interests li .fa-question-circle {
  color: $gray;
}
